body {
    background-color: #F2F2F7;
}

.custom-navbar-bg {
    background-color: #263238;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.custom-brand {
    color: white;
}

.max-width-container {
    max-width: 1080px;
    margin: 0 auto;
    /* Center the container horizontally */
}

.custom-color {
    background-color: white;
    /* Replace with your desired background color */
    border-radius: 17px;
    padding: 15px;
    border: 0;
}

.input-group.no-shadow {
    box-shadow: none !important;
}
